#MapWrapper {
    background-color: red;
    height: 750px;
    position: relative;
    width: 750px;
}

#CornerstoneLabs {
    background-image: url(../img/CornerstoneLabs.svg);
    background-repeat: none;
    background-size: 155px 25px;
    bottom: 0;
    display: block;
    left: 0;
    height: 25px;
    width: 155px;
    z-index: 2;
}

.twitter-avatar-marker {
    border: solid 1px #fff;
    border-radius: 50%;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.4);
}

.cl-info-panel {

}

.cl-info-panel p {
    font-size: 16px;
}

.cl-info-panel .fa-info {
    color: #999;
}

.leaflet-credits-control a {
    display: inline-block;
    margin-right: 4px;
}

.leaflet-credits-control {
    opacity: 0.6;
    transition: opacity 0.2s ease;
}

.leaflet-credits-control:hover {
    opacity: 1;
}

/* info button top right */
.easy-button-button.leaflet-bar-part.leaflet-interactive {
    background-color: #242d3d;
    color: #fff;
}

.btn {
    background-color: #2880ca;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 8px;
}

a.btn,
a.btn:visited {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}
