#MapWrapper {
    background-color: red;
    height: 750px;
    position: relative;
    width: 750px;
}

#CornerstoneLabs {
    background-image: url(../img/CornerstoneLabs.svg);
    background-repeat: none;
    background-size: 155px 25px;
    bottom: 0;
    display: block;
    left: 0;
/*    position: absolute;
    text-indent: -9999em;
*/    height: 25px;
    width: 155px;
    z-index: 2;
}

.twitter-avatar-marker {
    border: solid 1px #fff;
    border-radius: 50%;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.4);
}

.cl-info-panel {

}

.cl-info-panel p {
    font-size: 16px;
}

.cl-info-panel .fa-info {
    color: #999;
}
