<script>
	window.userTwitter = {{{ json twitter }}};
	window.userFacebook = {{{ json facebook }}};
	window.configuration = {{{ json configuration }}};
</script>
<a href="/list">Navigate to text only list</a>
<div id="map"></div>
