<div class="header-stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>DumTeeDum Trakr.</h1>
			</div>
		</div>
	</div>
</div>
<div class="country-stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>You need to be signed in to do this.</h2>
				<p>Choose a sign in method</p>
			</div>
		</div>
	</div>
</div>
<div class="country-stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" style="padding-left: 64px;padding-top: 16px;padding-bottom: 16px;font-size: 24px;">
		            <span class="fa fa-facebook" style="top: 16px;left: 16px;"></span> Sign in with Facebook
				</a>
				<br/>
			</div>
			<div class="col-xs-12 col-md-6">
				<a class="btn btn-block btn-social btn-twitter" href="/auth/twitter" style="padding-left: 64px;padding-top: 16px;padding-bottom: 16px;font-size: 24px;">
					<span class="fa fa-twitter" style="top: 16px;left: 16px;"></span> Sign in with Twitter
				</a>
				<br/>
			</div>
		</div>
	</div>
</div>
