<div class="header-stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>DumTeeDum Trakr.</h1>
				<p>You need to be signed in to do this.</p>
			</div>
		</div>
	</div>
</div>
<div class="country-stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Choose a sign in method</h2>
			</div>
		</div>
	</div>
</div>
<div class="country-stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" style="padding-left: 44px;">
		            <span class="fa fa-facebook"></span> Sign in with Facebook
				</a>
				<br/>
			</div>
			<div class="col-xs-12 col-md-6">
				<a class="btn btn-block btn-social btn-twitter" href="/auth/twitter" style="padding-left: 44px;">
					<span class="fa fa-twitter"></span> Sign in with Twitter
				</a>
				<br/>
			</div>
		</div>
	</div>
</div>
